@import '../scss/components/faq';
@import '../scss/components/fitting';
@import '../scss/components/header';
@import '../scss/components/main';
@import '../scss/components/footer';
@import '../scss/components/contacto';
@import '../scss/base/_extends';
@import '../scss/base/_mixins';



#foto-fondo{
    background-image:url(../imagenes/tigerbnfondo.png);
     
    background-size: auto;
    background-repeat: no-repeat;
    background-position:top;
    height:750px;

   
    
 }

 #h1-principal {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 110px;
    margin-top: 80px;
    color: white;
    padding-top: 290px;
    margin-bottom: 0px;
    
   
}


.p-principal2 {

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
    color: white;

}

.p-principal{

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    color: white;
    
}




@media only screen and (max-width:990px){

    .p-principal2 {

    display: none;
        
       
    
    }
   
    
    
    .p-principal{
    
       
        font-size: 25px;
       
        
    }

    #foto-fondo{
        background-image:url(/imagenes/tigerbnfondo.png);
         
        background-size: cover;
        background-repeat: no-repeat;
        background-position:top;
        height:400px;
    
     }

     #h1-principal {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Staatliches', cursive;
        text-align: center;
        font-size: 70px;
        margin-top: 80px;
        color: white;
        padding-top: 150px;
        margin-bottom: 0px;
    }


}

.p-principal-marcas{

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    color: black;
    
}

@media only screen and (max-width: 600px) {

    .p-principal-marcas{

        font-size: 25px;
        margin-top: 40px;
        font-weight: bolder;
    
    }

    .marcas-h2{
        margin-top: 10px;
    }

       
        

    }


 
 #fondo-normal h1{
     color: #000000;
     margin-top: 80px;
     padding-top: 0px;
 
 
 }
 
 #fondo-normal p{
     color: #000000;
 }





.categorias-h2,
.marcas-h2,
.mas-visto-h2 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Staatliches', cursive;
    text-align: left;
    font-size: 30px;
    margin-top: 100px;
    letter-spacing: 2px;
    margin-left: 60px;


}

@media only screen and (max-width:500px){
    .categorias-h2,
    .marcas-h2,
    .mas-visto-h2 {
        margin-left: 0px;
    }

}

.categorias, #marcas, .mas-visto, .asesoramiento, .fitting-section{
    
    
    justify-content: space-around;
    flex-wrap: wrap;
    @extend %flexbox;
    
    

}

@media only screen and (max-width:500px){

    .categorias div {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .categorias-h2{
        text-align:  center;
        margin-bottom: 10px;
    }
    .marcas-h2{
        text-align: center;
    }

    #box-marcas{

        margin-bottom:10px;
        
    
        
    }

    .mas-visto-h2{
        text-align: center;
    }


}



.categorias div {
    @include wihe (230px,230px);
    
    background-color: black;
    border-radius: 5px;
    
    
}



:hover.categorias-driver img{
    
    opacity: 50%;
    
   

}
:hover.categorias-driver p{
    transform: translateY(-80px);
    transition: all  .4s ease;
    text-shadow: 1px 1px 1px #000000;
    font-size: 50px;

    
    
    
    

}


.categorias p {
    font-size: 40px;
    text-align: center;
    position: relative;
    bottom: 92px;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;

}

.categorias img {

    @include wihe (100%,100%);
    
    opacity: 0.8;
    border-radius: 5px;
    
}

.categorias a {text-decoration: none;}

#marcas div,
.mas-visto div {
    @include wihe (200px,200px);
    
    display: inline-block;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    
    box-sizing:content-box;


}

:hover#box-marcas{

    transform: scale(1.1);
    box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.41);
    border: none;
    
    
}

@media only screen and (max-width:600px){

    :hover#box-marcas{
        transform: scale(1.01);
        box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.2);
    border: none;
    }


}



#marcas img,
.mas-visto img {
    @include wihe (200px,200px);
   
    object-fit: contain;

}

.marcas h2 {
    margin-top: 50px;
}

.marcas p {
    margin-top: 50px;
}

.mas-visto div {
    height: auto;
    text-align: center;
    padding: 15px;
    
}

@media only screen and (max-width:600px){

    .mas-visto div{
    margin-bottom: 10px;}

}

.mas-visto p,
.grid-item p {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 5px;

}

#rating {
    font-size: 15px;
    margin-top: 0px;
}

#precio {
    color: red;
    font-size: 26px;
    margin-top: 0px;

}

#shop-now {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
}



.asesoramiento-h2 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 50px;
    margin-top: 180px;
    letter-spacing: 2px;

}

.asesoramiento-p, .fitting-section-p {

    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 60px;


}

.asesoramiento div {

    @include wihe (300px,600px);
    
    display: inline-block;
    background-color: white;
   
}

#fitting img {

    @include wihe (300px,300px);
    object-fit: cover;
}

#fitting h4,
.video-fitting h3 {
    font-size: 30px;
    text-transform: uppercase;

}

#fitting p {
    text-align: left;
}






.star-icon{
    width: 20px;
    
    
}

:hover.star-icon{
    fill: rgb(255, 4, 0);
}



/*------ Pagina PRODUCTOS ------------ */

.grid-container {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 100px;
    margin-right: 10%;
}

@media only screen and (max-width:650px){

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
       
        
       
    }

    .grid-item {
        
        width: 300px;
        text-align: center;
       
        
       
    }


}
   

.grid-item {

    text-align: center;
    padding: 10px;

    img {

        @include wihe (200px,200px);
        
    
    }

}



.menu-palos {

    grid-row: 1/5;

    ul {
        list-style: none;
        font-size: 25px;
        padding: 0px;
            
            li {
            padding: 20px;
        }
    }



}

.grid-item input {
    margin-bottom: 10px;
}



.borde-producto {
    border: 1px solid black;
}

.navegacion-numeros {
    text-align: center;
    grid-column: 2/4;
    @extend %flexbox;

    ul{
        padding-inline-start: 40px;

        li{
            display: inline;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 10px;

            a{
                text-decoration: none;}
    
    
    
    }

    }

}



#titulo-productos {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;

}

#titulo-productos-palos{
  @extend %flexbox;
  flex-wrap: wrap;
  margin-top: 20px;
  
  
    
}


/*------ FIN Pagina PRODUCTOS ------------ */



